.orderSpace.pc{ style: "background-image: url(assets/bg1.jpg);" }

=render 'main_menu'
.standartArticleSpace
  #content__about__about__1__p5.adminTextEl
    %h1 О сервисе и качестве услуг:

    %div В своей работе наши специалисты применяют только самые современные чистящие и моющие средства. В своей деятельности мы руководствуемся профессионализмом как в части обслуживания, так и в найме персонала. Наши клинеры постоянно проходят повышение квалификации, после которого силами наших партнеров мы производим &quot;Контрольную закупку&quot; от стороннего заказчика, о котором не знают даже топ-менеджеры нашей организации. Все это на регулярной основе позволяет контролировать качество предоставляемых услуг. Большинство наших клиентов предпочитают сотрудничать с нами на постоянной основе по предварительно согласованному графику уборок в их квартирах. Руководствуясь удовлетворенностью от качественно предоставленных услуг нас с удовольствием рекомендуют своим друзьям и знакомым в части клининговых услуг, а это лучший показатель качества нашей работы.

    %div &nbsp;

    %div Ни один звонок и ни одно обращение не проходят мимо нашей клиентской службы. Уже со второго заказа мы предоставляем скидку на уборку Вашей квартиры.

    %div &nbsp;

    %strong С уважением, Команда Bjic.

%hr
.optionsSpace
  %h4 Наши приемущества:

  %ul
    %li.option1 
      %strong Без предоплаты! 
      Оплата производится после выполнения работ!
 
    %li.option2
      %strong Гарантии!
      Что-то не понравилось? Исправим!

    %li.option3
      %strong Выезжаем за МКАД!
      Если есть возможность добраться на метро!

    %li.option4
      %strong Без доплат
      Никаких дополнительных платежей на месте. Только оговоренная по заказу сумма!


    %li.option5
      %strong Индивидуальный подход
      Дополнительные услуги обговариваются отдельно

.khimSpace.pc{ style: "background-image: url(assets/bg2.jpg);" } &nbsp;

.col2Space
  %ul
    %li
      #content__about__about__1__col1.adminTextEl
        %p
          %strong Клининговая компания Bjic
          &mdash; Услуги по уборке квартир по Москве.

        %p Заказав у нас уборку квартиры Вы экономите личное время, которое можете потратить на более приятные моменты в жизни, такие, как общение с семьей, развлечения и работу...

        %p В своей работе мы выбираем лишь самые современные экологичные средства уборки и современное оборудование.
    %li
      #content__about__about__1__col2.adminTextEl
        %p Все услуги предоставляются в рамках санитарных требований и правил по уборке квартир и жилых помещений.

/ .partnersSpace
/   %ul
/     %li <img src="uploads/nfc/partner1.png"
/     %li <img src="uploads/nfc/partner2.png"
/     %li <img src="uploads/nfc/partner3.png"
/     %li <img src="uploads/nfc/partner4.png"
/     %li <img src="uploads/nfc/partner5.png"

