=render 'main_menu_promotion'

.orderSpace.pc{:style => "background-image: url(uploads/slider/1445538625379-2.jpg);"}
  / <h2 class="c1"></h2>
%p{:style => "text-align: center;"}
  %span{:style => "font-size:36px;"}
    %span{:style => "font-family:comic sans ms,cursive;"}
      %span{:style => "color:#FF8C00;"} !!Предновогодняя акция!!
%p{:style => "text-align: center;"}
  %span{:style => "font-size:18px;"}
    %strong На заказ генеральной&nbsp;уборки квартиры с 15 декабря по 26 декабря 2015 года скидка сделавшим заказ через сайт
%p{:style => "text-align: center;"}
  %span{:style => "font-size:72px;"}
    \-- 20
    %span{:style => "color:#FF0000;"}> %
    \&nbsp;--
.khimSpace.pc{:style => "background-image: url(uploads/slider/1445538362591-2.jpg);"}
  / h2 class="c3"></h2
%hr